build/css/
build/favicons/
build/fonts/
build/images/
build/index.html
build/js/
node_modules/
dist/
package-lock.json
config/ropsten/mnemonic
config/kovan/mnemonic
config/rinkeby/mnemonic
config/local/mnemonic
config/secrets/infura-token.js
contracts/local-tests
migrations/2_deploy_test_contract.js.old
*.iml
.idea/
